<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>CoronaVirusDeathCases</title>
  </head>
  <body>
    <div class="container">
        <div class="bg-secondary text-light">
      <h1 class="display-4">CoronaVirus Death confirmed today!</h1>
      <h2 class="text-dark" th:text="'Total number of Cases : ' + ${deathStats}"></h2>
      </div>
  </div>
  </body>
</html>
