<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>AIR_Root_Viewer</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="p-3 mb-2 bg-secondary text-white">
        <div class="bg-dark text-light">
            <h1 class= "text-center font-italic">Let's Fly</h1>
        </div>
        <p class="text-light" >Please enter Airports and FlyTimes:</p>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">FROM:</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="example : Banglore">
            <label for="exampleFormControlInput2" class="form-label">TO:</label>
            <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="example : Mysore">
            <label for="exampleFormControlInput3" class="form-label">DepartDate:</label>
            <input type="date" class="form-control" id="exampleFormControlInput3" placeholder="example : DepartDate">
            <label for="exampleFormControlInput4" class="form-label">ArrivalDate:</label>
            <input type="date" class="form-control" id="exampleFormControlInput4" placeholder="example : Arrival">
            <p><br><br><br><br><br><br><br></p>
            <label for="exampleFormControlInput5" class="form-label"></label>
            <input type="submit" class="bg-dark btn btn-primary" id="exampleFormControlInput5" placeholder="Submit">
        </div>
    </div>
</div>
</body>
</html>